// Style for button and pseudo button for input and link

// background: #EB5D19;

.btn {
	color: $btn_default_text_color;
	font-family: $main_font_family;
	font-size: 0.9375em;
	font-weight: 600;
	padding: 1.5em;
	border: none;
	outline: none;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	background-color: $btn_default_bg_color;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	border-radius: 10em;
	transition: 0.5s;
	transition-property: background color border-color;
	letter-spacing: 0.1em;

	@media (min-width: 768px) {
		font-size: 1.5em;
		padding: 1.5em 2.5em;
	}

	&:hover {
		background-color: $btn_default_bg_color_hover;
		color: $btn_default_text_color;
	}

	&:active,
	&:focus {
		background-color: $btn_default_bg_color_active;
		color: $btn_default_text_color;
	}
	@each $status_el, $color_bg in $el_colors {
		&_#{$status_el} {
			background-color: $color_bg;
			border-color: $color_bg;
			color: $btn_contrast_text_color;

			&:hover {
				background-color: darken($color_bg, 7%);
				color: $btn_contrast_text_color;
			}

			&:active,
			&:focus {
				background-color: darken($color_bg, 10%);
				color: $btn_contrast_text_color;
			}
		}
	}
}
