// Social link

.soc {
	a {
		display: inline-block;
		width: 1.125em;
		margin-right: 0.5em;
		border-radius: 50%;
		text-align: center;
		text-decoration: none;
		transition: opacity 0.5s;
		opacity: 0.5;

		@media (min-width: 768px) {
			margin-left: 1.5em;
			margin-right: 0;
			width: 1.6875em;
		}

		&:hover {
			opacity: 1;
		}
	}
}
