header.header
    .header__content
        .header__left
            a.logo(href="/")
                img(src="img/logo.svg", alt="АУП")
        .navbar__toggle
        .header__nav.nav
            nav.header__menu
                ul.navbar
                    each navLink in navbar
                        li.navbar__item
                            a.navbar__link(href=navLink.href data-scroll-to="")= navLink.name

            .header__foot
                a.mail.mobile(href="mailto: "+siteMail+"")=siteMail
                a.phone(href="tel: "+siteTel+"")=siteTel
